body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('milky.jpeg') no-repeat center center fixed;
    background-size: cover;
    animation: fadeIn 2s ease-in-out;
}

#plot {
    width: 90%;
    height: 90%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}